<h1 mat-dialog-title>Ingresar Orden de Trabajo</h1>
<div mat-dialog-content>
    <div class="containerToolbar" [ngClass]="{'ocultar': nuevaOrden === false}" >
        <mat-toolbar id="toolbarPrincipal">
            <mat-toolbar-row>
                <span>
                    <img id = "img1" src="../assets/Escudo_de_la_Escuela_Politécnica_Nacional.png" alt="">
                </span>            
                <span id="spanTitulo">
                    <h1 id="titulo1">ESCUELA POLITÉCNICA NACIONAL</h1>
                    <h2 id="titulo2">Campus Politécnico J. Rubén Orellana R </h2>
                    <h2 id="titulo3">Ladrón de Guevara E11-253 y Andalucía </h2>
                    <h2 id="titulo4">Telf.: (+593) 22976300 - info@epn.edu.ec  </h2>
                </span>
            </mat-toolbar-row>        
        </mat-toolbar>
    </div>        
    <div class="containerBuscarCliente" [ngClass]="{'ocultar': nuevaOrden === false}">
        <mat-toolbar-row>
            <span class="fill"></span>
            <span id="buscar">
                    <button mat-raised-button color="primary" (click)= "buscarCliente()" id="botonBuscar">
                            <mat-icon>search</mat-icon>Buscar Clientes
                    </button>
            </span>
            <span class="fill"></span>
        </mat-toolbar-row>
    </div>
    <div class="containerCliente" *ngIf="consultaCliente()">
        <mat-toolbar>
            <mat-toolbar-row>
                <span><h5 id="titulosCl">Cliente:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{cliente.nombre_cl}}</span>
                <span class="fill"></span>
                <span><h5 id="titulosCl">Direccion:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{cliente.direccion_cl}}</span>
                <span class="fill"></span>
                <span><h5 id="titulosCl">Telefono:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{cliente.telefono_cl}}</span>
                <span class="fill"></span>  
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span><h5 id="titulosCl">Fecha:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{orden.fechaorden_ot}}</span>
                <span class="fill"></span>
                <span><h5 id="titulosCl">RUC:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{cliente.ruc_cl}}</span>
                <span class="fill"></span>
                <span><h5 id="titulosCl">CI:</h5></span>
                <span class="fill"></span>
                <span id="valorCl">{{cliente.cedula}}</span>
                <span class="fill"></span>                                
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="containerButton">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="fill"></span>
                <span>
                    <button mat-raised-button [disabled]="ingresoCliente()" color="primary" (click)= "agregarDetalle()" id="botonNuevo">
                        <mat-icon>add</mat-icon>Agregar
                    </button>
                </span>
                <span class="fill"></span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="containerDetalleProforma">
        <div class="mat-elevation-z8">
                <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>          
                            <!-- ID Column -->
                            <ng-container matColumnDef="id_detalleorden">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                <td mat-cell *matCellDef="let row"> {{row.id_detalleorden}} </td>
                            </ng-container>
                                      
                            <!-- Descripcion descripcion estado producto Column -->
                            <ng-container matColumnDef="muestra">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Muestra</th>
                                <td mat-cell *matCellDef="let row"> {{row.muestra.id_muestra}} </td>
                            </ng-container>
                                      
                            <!-- Personal descripcion estado producto Column -->
                            <ng-container matColumnDef="personal">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal</th>
                                    <td mat-cell *matCellDef="let row"> {{row.personal.id_personal}} </td>
                            </ng-container> 

                            <!-- Personal descripcion estado producto Column -->
                            <ng-container matColumnDef="nombrePersonal">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal</th>
                                    <td mat-cell *matCellDef="let row"> {{row.nombrePersonal}} </td>
                            </ng-container> 
                            
                            <!-- Horas trabajo Column -->
                            <ng-container matColumnDef="horas_trabajo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Horas de Trabajo</th>
                                    <td mat-cell *matCellDef="let row"> {{row.horas_trabajo}} </td>
                            </ng-container>

                            <!-- fecha InicioColumn -->
                            <ng-container matColumnDef="fecha_inicio_analisis">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio</th>
                                    <td mat-cell *matCellDef="let row"> {{row.fecha_inicio_analisis}} </td>
                            </ng-container>

                            <!-- fecha Fin Column -->
                            <ng-container matColumnDef="fecha_fin_analisis">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin</th>
                                    <td mat-cell *matCellDef="let row"> {{row.fecha_inicio_analisis}} </td>
                            </ng-container>

                            <!-- Servicio Column -->
                            <ng-container matColumnDef="id_servicio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio</th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_servicio}} </td>
                            </ng-container>

                            <!-- Servicio Column -->
                            <ng-container matColumnDef="nombreServicio">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio</th>
                                    <td mat-cell *matCellDef="let row"> {{row.nombreServicio}} </td>
                            </ng-container>

                            <!-- Metodo Column -->
                            <ng-container matColumnDef="id_metodo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Metodo</th>
                                    <td mat-cell *matCellDef="let row"> {{row.id_metodo}} </td>
                            </ng-container>

                            <!-- Metodo Column -->
                            <ng-container matColumnDef="nombreMetodo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Metodo</th>
                                    <td mat-cell *matCellDef="let row"> {{row.nombreMetodo}} </td>
                            </ng-container>

                            <!-- Estado Column -->
                            <ng-container matColumnDef="estado_dot">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
                                    <td mat-cell *matCellDef="let row"> {{row.estado_dot}} </td>
                            </ng-container>

                            <!-- Size Column -->
                            <ng-container matColumnDef="size_existencias">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Size</th>
                                    <td mat-cell *matCellDef="let row"> {{row.size_existencias}} </td>
                            </ng-container>
                                      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row  *matRowDef="let row; columns: displayedColumnsData;">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>                        
        </div>   
    </div>
    <div class="containerObservacion" [ngClass]="{'ocultar': nuevaOrden === false}">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Observación" [(ngModel)]="orden.obser_ot">
        </mat-form-field>    
    </div>
</div> 
<div mat-dialog-actions>
    <mat-toolbar-row>
        <span class="fill"></span>
        <span>
            <button mat-button cdkFocusInitial [disabled]="ingresoDatos()" (click)= "guardarOrden()" >Confirmar</button>
            <button mat-button mat-dialog-close="false">Cancelar</button>
        </span>
        <span class="fill"></span>
    </mat-toolbar-row>
</div>